#camera{
    box-sizing: border-box;
    padding:.5em;
}

.camera{
    mix-blend-mode: multiply;
    width:100%;
    text-align: center;
    
}

.camera-cover{
    position: fixed;
    top:0; left: 0;
    width:100%;
    height:100%;
    pointer-events: none;
    background-size: cover;
    background-image:url(../camera-cover.png);
    z-index:9999;
}

.camera-cover[data-overlay="scanline"]{
    background-size: cover;
    background-image:url(/camera-cover.png);
}

.camera-cover[data-overlay='lightleak']{
    background-size: cover;
    background-image:url(../camera-light.jpg);
}

.camera img{
    width:100%;
    height:70vh;
}


.camera-details h1, .camera-details h2{
    margin:0;
}
